/* ===================================================================
 *  10. page - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

 #page {
    width: 100%;
    /* height: 786px; */
    min-height: 400px;
    background-color: transparent;
    position: relative;
    display: table;
  }
  
  #page .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, black 0%, black 20%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */
  }
  
  #page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-color: #000000;
  }
  
  .no-js #page {
    background: #151515;
  }
  
  .page-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
  
  .page-content .contents {
    position: relative;
  }
  
  .page-content-left {
    padding: 27rem 0 0rem 40px;
    position: relative;
    width: 100%;
  }
  
  .page-content-left h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2.4rem;
  }
  
  .page-content-left h1 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 5.2rem;
    letter-spacing: -.05rem;
    line-height: 1.269;
    color: #ffffff;
    margin-bottom: 3rem;
  }
  
  .page-content-left .button.stroke {
    color: #ffffff !important;
    border-color: #ffffff;
    margin: 0 .6rem 1.2rem;
    padding: 0 2.2rem;
    min-width: 188px;
  }
  
  .page-content-left .button.stroke span[class*="icon"] {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
  
  .page-content-left .button.stroke:hover,
  .page-content-left .button.stroke:focus {
    background-color: white !important;
    color: #000000 !important;
  }

  .page-content-left p {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2rem;
    letter-spacing: -.05rem;
    line-height: 1.269;
    color: #ffffff;
    margin-bottom: 4rem;
  }
  .page-image-right img {
    vertical-align: bottom;
    width: 75%;
  }
  
  
  /* page social-list */
  
  .page-social-list {
    position: absolute;
    right: 42px;
    top: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.2rem;
    line-height: 1.75;
    text-align: center;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }
  
  .page-social-list::before {
    display: block;
    content: "";
    width: 2px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
  
  .page-social-list li {
    padding-left: 0;
  }
  
  .page-social-list li a,
  .page-social-list li a:visited {
    color: #FFFFFF;
  }
  
  .page-social-list li a:hover,
  .page-social-list li a:focus,
  .page-social-list li a:active {
    color: rgb(189, 165, 136);
  }
  
  
  /* page-intro */
  #page-intro {
    background: #ffffff;
    padding-top: 8rem;
    overflow: hidden;
  }
  
  .page-intro-intro {
    padding-bottom: 3.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 8rem;
  }
  